/* For Mobile Device  */
@media screen and (max-width:576px) {

    ul {
        display: none;
    }
    .bar{
        display: block;
    }
    .container {
        margin: 0 auto;
        border: 2px solid red;
        padding: 3.5rem 21px;
    }
}



/* For Tablate devices  */

@media screen and (min-width:576px) and (max-width:992px) {

    .container {
        padding: 3.5rem 1rem;
    }
    
}
